@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --bg-color: rgb(0, 0, 0);
    --second-bg-color: rgb(0, 0, 0);
    --text-color: #F2F0EF;
    --main-color: #ff0000;
}

.card-title {
    text-decoration: solid;
    border-radius: 15px;
    border-bottom: 2px solid white;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 100%;
    box-sizing: border-box;
    background-color: #000;
}

.card-title-text {
    list-style-type: disc;     /* Adds bullet points */
    margin: 0;                 /* Removes default margin */
    padding: 0 20px;           /* Adds padding for better alignment */
    color: white;              /* Text color */
    font-size: 16px;           /* Adjust font size */
    line-height: 1.5;          /* Improves line spacing */
}

.card-text li {
    margin-bottom: 10px; /* Adds spacing between items */
}

.card-text .button-item {
    text-align: center;
    padding: 10px 20px;
    background-color: #a20000;
    color: white;
    border-radius: 8px;
    cursor: pointer;
    display: inline-block;
    transition: background-color 0.3s, transform 0.2s;
}

.card-text a {
    text-decoration: none !important;
}

.card-text .button-item:hover {
    background-color: #0056b3;      /* Darkens button on hover */
    transform: scale(1.05);         /* Slightly enlarges button on hover */
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Poppins', sans-serif !important;
    background-color: var(--bg-color) !important;
    color: var(--text-color) !important;

}

::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-thumb {
    background-color: var(--main-color);
    border-radius: 2px;
}

/* ----------------preloader Section -------------------------------- */
.preloader {
    position: fixed;
    height: 100vh;
    width: 100%;
    display: grid;
    place-items: center;
    background-color: var(--bg-color);
    z-index: 999 !important;
}

.loaderpre {
    animation: preload 1 2s ease-in-out forwards;
    animation-delay: 2s;
}

@keyframes preload {
    100% {
        opacity: 0;
        visibility: hidden;
    }
}

/* -------------------- Header section ------------------------------- */
header {
    backdrop-filter: blur(30px);
    z-index: 99;
    box-shadow: 0 0 50px 0 #000000;
}

.logo {
    text-decoration: none;
    font-weight: 700;
    font-size: 2.5rem;
    color: var(--text-color) !important;
    cursor: pointer;
    transition: 0.3s ease;
}

.main_color_span {
    color: var(--main-color);
    font-weight: bold;
}

.nav-link {
    font-weight: 700 !important;
    color: var(--text-color) !important;
    transition: 0.2s ease;
}

.nav-link:hover,
.nav-link:active,
.nav-link:focus {
    color: var(--main-color) !important;
}

.nav-item:active {
    color: var(--main-color) !important;
}

.fa-bars-staggered {
    color: var(--text-color);
    font-size: 25px;
}

.navbar-toggler:focus {
    box-shadow: none !important;
}

/* -------------------- Main section ------------------------------- */
#main_page {
    background-color: var(--second-bg-color);
}

.portfolio_img {
    object-fit: cover !important;
    height: 310px !important;
    width: 310px !important;
    object-fit: cover !important;
    cursor: pointer;
    box-shadow: 0px 0px 0px 8px var(--main-color);
    animation: floatImage 4s ease-in-out infinite;
    transition: 0.4s ease;
}

.topcircle {
    top: 30px;
    right: 30px;
    width: 50px;
    height: 50px;
    background-color: var(--main-color);
    animation: floatImage 4s ease-in-out infinite;
    transition: 0.4s ease;
}

.bottomcircle {
    bottom: 0px;
    left: 50px;
    width: 150px;
    height: 150px;
    background-color: var(--main-color);
    animation: floatImage 4s ease-in-out infinite;
    transition: 0.4s ease;
}


@keyframes floatImage {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-1.5rem);
    }

    100% {
        transform: translateY(0);
    }
}

.title_intro {
    font-size: 30px;
    font-weight: 600;
    padding-bottom: 0 !important;
}

.main_name {
    font-size: 55px;
    font-weight: 600;
    line-height: 1 !important;
}

.title_btn,
.title_btn_1 {
    font-size: 15px !important;
}

.title_btn {
    padding: 8px 30px !important;
    background-color: transparent !important;
    border: 1px solid var(--main-color) !important;
    color: var(--main-color) !important;
    font-weight: 500 !important;
    transition: .3s !important;
}

.title_btn:hover {
    background-color: var(--main-color) !important;
    color: #ffffff !important;
}

.title_btn_1 {
    background-color: transparent !important;
    border: 1px solid var(--main-color) !important;
    color: var(--main-color) !important;
    font-weight: 500 !important;
    transition: .3s !important;
}

.title_btn_1:hover {
    background-color: var(--main-color) !important;
    color: #ffffff !important;

}

/* --------------------Social Media Icon ------------------ */
.socialmedia {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1.5rem;
}

.social_icon {
    text-decoration: none;
    width: 3rem;
    height: 3rem;
    border-radius: 14px;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;
    box-shadow: rgba(255, 255, 255, 0.1) 0px 10px 15px -3px,
        rgba(255, 255, 255, 0.05) 0px 4px 6px -2px;
}

.social_icon>i {
    color: var(--main-color);
    font-size: 1.5rem;
    transition: all 0.2s;
}

.social_icon:hover>i {
    scale: 1.2;
    color: #f1f1f1;
}

.social_icon:before {
    background: var(--color);
    content: "";
    position: absolute;
    width: 130%;
    height: 130%;
    left: -110%;
    top: 80%;
    transform: rotate(45deg);
}

.social_icon:hover:before {
    animation: slide 0.7s forwards;
}

@keyframes slide {
    50% {
        left: 10%;
        top: -40%;
    }

    100% {
        left: -15%;
        top: -15%;
    }
}

.social_icon:has(.fa-instagram) {
    --color: linear-gradient(45deg, #f9ce34, #ee2a7b, #6228d7);
}

.social_icon:has(.fa-linkedin-in) {
    --color: #0077b5;
}

.social_icon:has(.fa-whatsapp) {
    --color: #25d366;
}

.social_icon:has(.fa-envelope) {
    --color: #EA4335;
}

.social_icon:has(.fa-github) {
    --color: #333;
}

/* -------------------- About section ------------------------------- */
.about_title {
    font-size: 35px;
    font-weight: 600;
}

.about_info {
    line-height: 1.7 !important;
}

.about-img {
    width: 480px !important;
    height: 480px!important;
    border: 12px solid var(--second-bg-color);
    box-shadow: 0 0 0 12px var(--main-color);
    transition: .5s;
}

.about-img:hover {
    border: 12px solid var(--second-bg-color);
    box-shadow: 0 0 50px 12px var(--main-color);
    transition: .5s;
}

/* -------------------- Skills section ------------------------------- */

#skills_page {
    background: var(--second-bg-color);
}

.skills_page {
    background-color: var(--bg-color);
    box-shadow: 0 0 10px 3px #000000;
    border-radius: 30px 0px 30px 0px !important;
}

.skills_bars {
    padding-left: 30px !important;
    padding-right: 30px !important;
}

.skills_bars .skill {
    margin: 22px 10px;
}

.skill p {
    margin-bottom: 3px;
    color: #fff;
    font-size: 15px;
}

.skill .progress_line {
    position: relative;
    width: 100%;
    height: 5px;
    background: rgba(255, 255, 255, 0.5);
    border-radius: 8px;
}

.skill .progress_line::before {
    position: absolute;
    content: "";
    height: 10px;
    width: 10px;
    top: 50%;
    left: calc(var(--wd) - 8px);
    transform: translateY(-50%);
    background: var(--bg);
    border-radius: 8px;
    box-shadow: 0 0 2px var(--bg), 0 0 5px var(--bg);
    z-index: 1;
    animation: circle-animate 2s forwards ease-out;
    opacity: 0;
}

@keyframes circle-animate {
    25% {
        left: 0;
        opacity: 1;
    }

    100% {
        opacity: 1;
        left: calc(var(--wd) - 8px);
    }
}


.skill .progress_line span {
    position: relative;
    display: block;
    height: 100%;
    width: var(--wd);
    background: var(--bg);
    border-radius: 8px;
    box-shadow: 0 0 2px var(--bg);
    animation: span-animate 2s forwards ease-out;
}

@keyframes span-animate {
    25% {
        width: 0;
    }

    100% {
        width: var(--wd);
    }
}

.skill .progress_line span::before {
    position: absolute;
    content: "";
    width: 0;
    height: 0;
    border: 7px solid transparent;
    border-top-color: var(--bg);
    top: -9px;
    right: -6px;
    opacity: 0;
    animation: hint 0.2s forwards 2.2s;
}

.skill .progress_line span::after {
    position: absolute;
    content: var(--tx);
    color: #fff;
    top: -32px;
    right: -20px;
    background: var(--bg);
    padding: 2px 8px;
    font-size: 13px;
    font-weight: bold;
    border-radius: 2px;
    box-shadow: 0 0 2px var(--bg);
    opacity: 0;
    animation: hint 0.2s forwards 2.2s;
}

@keyframes hint {
    to {
        transform: translateY(-5px);
        opacity: 1;
    }
}



/* -------------------- Project section ------------------------------- */
.row {
    display: flex !important;
    justify-content: center !important;

}

.card_anchor {
    text-decoration: none;
    color: var(--text-color);
}

.card-text {
    margin-bottom: 5px !important;
}

.note {
    font-size: 16px;
    color: rgb(177, 175, 175);
}

.card {
    color: var(--text-color) !important;
    background-color: var(--second-bg-color) !important;
    box-shadow: 0 0 20px 0px #000000;
    border-radius: 30px 0px 30px 0px !important;
}

.card>img {
    border-radius: 30px 0px 0px 0px !important;
    cursor: pointer;
}

/* -------------------- Contact section ------------------ */
#contact_page {
    background-color: var(--second-bg-color);
}

.contact_main {
    background-color: var(--bg-color) !important;
    border-radius: 30px 0px 30px 0px !important;
    box-shadow: 0 0 15px 0px #000000;
    padding: 0px 30px 0px 30px !important;
}

.form-control:focus {
    box-shadow: none !important;
}

.input_box>input,
textarea {
    background-color: transparent !important;
    border: 2px solid var(--main-color) !important;
    color: var(--text-color) !important;
}

::placeholder {
    font-size: 15px !important;
    color: var(--text-color) !important;
    opacity: 1 !important;
}

.contact_btn {
    font-weight: 600 !important;
    background-color: var(--main-color);
    border: 1px solid var(--main-color) !important;
    color: #fff;
    transition: .3s !important;
}

.contact_btn:hover {
    background-color: transparent !important;
    border: 1px solid var(--main-color) !important;
    color: var(--main-color) !important;
}

/* ----------------------Media Quary max-width 786 ---------------------*/
@media (max-width:786px) {

    /* -------------------- Header section ------------------------------- */
    .logo {
        font-size: 2rem;
    }

    .title_intro {
        font-size: 25px;
    }

    .main_name {
        font-size: 45px;
    }

    .portfolio_img {
        height: 200px !important;
        width: 200px !important;
        object-fit: cover !important;
    }

    .topcircle {
        top: 10px;
    }

    .bottomcircle {
        left: 30px;
        width: 130px;
        height: 130px;
    }

    .title_btn {
        padding: 8px 25px !important;
    }

    /* -------------------- About section ------------------------------- */
    .about_title {
        font-size: 30px;
    }

    .about-img {
        width: 230px !important;
        height: 230px !important;
        border: 10px solid var(--second-bg-color);
        box-shadow: 0 0 0 10px var(--main-color);
    }

    /* -------------------Skills section------------------- */
    .skills_bars {
        width: 40% !important;
        padding-left: 5px !important;
        padding-right: 5px !important;
    }

    .skill_img {
        align-items: center;

    }

    .skill_img>img {
        width: 300px !important;
        height: 270px !important;
    }

    /* -------------------Project section------------------- */
    .col-md-4 {
        width: 21rem !important;
    }



}

/* ----------------------Media Quary max-width 425px ---------------------*/
@media (max-width:425px) {

    /* -------------------- Main section ------------------------------- */
    .topcircle {
        top: 10px;
        right: 80px;
    }

    .bottomcircle {
        left: 70px;
        width: 120px !important;
        height: 120px !important;
    }

    .title_main {
        align-items: center !important;
    }

    .title_intro {
        font-size: 20px;
    }

    .main_name {
        font-size: 40px;
    }

    .main_info {
        text-align: center;
        font-size: 15px;
    }

    .title_about {
        text-align: center;
    }

    /* -------------------- About section ------------------------------- */
    .about_title {
        font-size: 25px;
    }

    .about_info {
        font-size: 15px;
    }


    /* -------------------Skills section------------------- */
    .skills_bars {
        width: 90% !important;
        padding-left: 5px !important;
        padding-right: 5px !important;
    }

    .skill_img>img {
        margin-top: 50px;
        width: 350px !important;
        height: 320px !important;
    }

    /* -------------------- Project section ------------------------------- */
    .project_title {
        font-size: 20px;
    }

    /* -------------------- Contact section ------------------------------- */
    .contact_main {
        padding: 0px 5px 0px 5px !important;
    }
}

/* ----------------------Media Quary max-width 320px ---------------------*/
@media (max-width:320px) {

    /* -------------------- Main section ------------------------------- */
    .topcircle {
        top: -5px;
        right: 50px;
    }

    .bottomcircle {
        left: 50px;
    }

    .title_intro {
        font-size: 18px;
    }

    .main_name {
        font-size: 30px;
    }

    .main_info {
        font-size: 13px;
    }

    .socialmedia {
        gap: .5rem;
    }

    /* -------------------- About section ------------------------------- */
    .about_title {
        font-size: 20px;
    }

    .about_info {
        font-size: 13px;
    }

    /* -------------------Skills section------------------- */

    .skill_img>img {
        width: 350px !important;
        height: 300px !important;
    }

    /* -------------------- Project section ------------------------------- */
    .project_title {
        font-size: 18px;
    }

    /* -------------------- Contact section ------------------------------- */
    .contact_main {
        padding: 0px 0px 0px 0px !important;
    }

}
